Binaries/
Intermediate/
Saved/
Build/
DerivedDataCache/ 
.vs/
Plugins/
Content/Scanned3DPeoplePack/
Content/Megascans/
Content/MetaHumans/
Content/CommercialPlane/
*_BuiltData*
Plugins/mqtt-utilities-unreal-master/
